.row-container {
  margin-bottom: 2rem;

  h2 {
    margin-left: 1rem;
    margin-bottom: .5rem;
  }

  .scroll-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  .nav {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 50%;
  }

  .nav.left {
    left: 0;
  }

  .nav.right {
    right: 0;
  }

  .scroll-container {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 1rem 2.5rem;
    gap: 1rem;
    flex: 1;

    .card {
      flex: 0 0 calc(100% / 6 - 1rem);
      max-width: 160px;
      text-decoration: none;
      color: inherit;
      /* scroll-snap-align: start; */

      img {
        width: 100%;
        border-radius: .5rem;
        object-fit: cover;
      }

      p {
        font-size: 0.9rem;
        text-align: center;
        margin-top: 0.5rem;
      }
    }
  }
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem;

  .card {
    flex: 0 0 auto;
    width: 160px;
    text-decoration: none;
    color: inherit;

    img {
      width: 100%;
      height: auto;
      border-radius: 0.5rem;
      object-fit: cover;
    }

    p {
      font-size: 0.9rem;
      margin-top: 0.5rem;
      text-align: center;
    }
  }
}