<div class="row-container">
  <h1>{{ title }}</h1>

  <div class="scroll-wrapper">
    <button class="nav left" (click)="scroll('left')">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <div class="scroll-container" #scrollContainer>
      <a class="card" *ngFor="let item of items" [href]="item.canonicalUrl" target="_blank" (mouseenter)="hoveredItem = item" (mouseleave)="hoveredItem = null" [class.dimmed]="hoveredItem && hoveredItem !== item">
        <img [src]="getVerticalPhoto(item)" [alt]="item.heading || 'Pilt'" loading="lazy" />
        <p>{{ item.heading }}</p>
      </a>
    </div>

    <button class="nav right" (click)="scroll('right')">
      <mat-icon>chevron_right</mat-icon>
    </button>

  </div>

</div>