/* Borrowed some parts from Timofey and Jupiter */
.banner {
	position: relative;
	width: 100vw;
	min-height: 340px;
	border-radius: 0;
	overflow: hidden;
	margin-bottom: 2.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 10rem 0 5rem 0;
	left: 50%;
	transform: translateX(-50%);
}

.banner-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	min-width: 100vw;
	max-width: 100vw;
	height: 100%;
	object-fit: cover;
	z-index: 2;
	border-radius: 0;

}

.banner-link-wrapper {
	padding: 0 0 0 2rem;
	align-items: center;
}

.banner-link {
	background-color: grey;
	border-radius: .5rem;
	color: #fff;
	position: relative;
	z-index: 3;
	font-weight: 600;
	padding: .5em 1rem;
	text-decoration: none;
	font-size: 1.1rem;
	font-weight: 100;
	display: inline-flex;
	align-items: center;
	border-radius: .5rem;
}

.banner-link-icon {
	display: flex;
	width: 1.5em;
	height: 1.5em;
	align-items: center;
}

.banner h2 {
	position: relative;
	z-index: 3;
	font-size: 2.2rem;
	font-weight: 100;
	margin: .1rem .1rem 0.7rem 0;
	padding: 0.1rem 0 0 2rem;
}

.banner-lead {
	position: relative;
	z-index: 3;
	font-size: calc(16px + 10 * (100vw - 600px) / 3840);
	line-height: calc(22px + 20 * (100vw - 600px) / 3840);
	letter-spacing: .02em;
	font-weight: 100;
	margin-bottom: 0.5rem;
	padding: 0 0 0 2rem;
	max-width: 65vw;
	width: 65vw;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
}