/* Borrowed some parts from Jupiter */
.banner {
	position: relative;
	width: 100vw;
	min-height: 340px;
	border-radius: 0;
	overflow: hidden;
	margin-bottom: 2.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 10rem 0 10rem 0;
	left: 50%;
	transform: translateX(-50%);
}

.banner-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	min-width: 100vw;
	max-width: 100vw;
	height: 100%;
	object-fit: cover;
	z-index: 2;
	border-radius: 0;

}

.banner-content {
	position: relative;
	padding-left: 2rem;
	margin-top: 1rem;
	z-index: 3;
	transform: translateY(60%);
}

.banner-link {
	display: flex;
	align-items: center;
	background-color: grey;
	color: #fff;
	padding: .5rem .9rem;
	border-radius: .1rem;
	width: 70px;
	position: relative;
	cursor: pointer;
	text-decoration: none;
}

.banner-link-icon {
	width: 1.5em;
	height: 1.5em;
}

.banner h2 {
	position: relative;
	z-index: 3;
	font-size: 2.2rem;
	font-weight: 100;
	margin-bottom: .01rem;
	margin-top: .5rem;
}

.banner-lead {
	position: relative;
	z-index: 3;
	font-size: calc(16px + 10 * (100vw - 600px) / 3840);
	line-height: calc(22px + 20 * (100vw - 600px) / 3840);
	letter-spacing: .02em;
	font-weight: 100;
	max-width: 65vw;
	width: 65vw;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	margin-bottom: .1rem;
}